<%- include("../layouts/header")  %>
<%- include("../layouts/menu")  %>
<main role="main" class="col-10 ml-auto px-4">
    <div class="d-flex justify-content-between align-items-center mt-4 border-bottom pb-2 mb-3">
      <h1 class="h2">Emprestimos em andamento</h1>
      <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group mr-2" role="group" aria-label="First group">
          <a type="button" class="btn btn-success" href="/chaves">Novo</a>
          
        </div>
      </div>
  </div>

  <section class="row">
    <%= user.id %> 
     
    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Motivo</th>
            <th scope="col">Chave</th>
            <th scope="col">Chaves</th>
            <th scope="col">Tetras</th>
            <th scope="col">Controles</th>
            <th scope="col">Retirada</th>
            <th scope="col">Ações</th>
          </tr>
        </thead>
        <% emprestimo.forEach(item => { %>
          
        <% if (item.devolucao == 'Não') { %>
        <tbody>
           
            <tr>
              <th scope="row"><%= item.id %> </th>
              <td><%= item.tipo %></td>
              <td><%= item.chave.endereco %> </td>
              <td><%= item.chave.qtdchavescomuns %> </td>
              <td><%= item.chave.qtdchavestetras %> </td>
              <td><%= item.chave.qtdcontroles %> </td>
              <td><%= item.createdAt %> </td>
              <td>
                <a href="/emprestimos/editar/<%= item.id %>" class="btn btn-warning">Editar</a>
                <a href="/emprestimos/devolver/<%= item.chave.id %>" class="btn btn-danger">Devolver</a>
              </td>
              <%} %>
            </tr>          
           
          </tbody>
          <% }) %>
</main>
<%- include("../layouts/sidebar")  %>
<%- include("../layouts/footer")  %> 