<%- include("../layouts/header")  %>
<%- include("../layouts/menu")  %>
<main role="main" class="col-10 ml-auto px-4">
    <div class="d-flex justify-content-between align-items-center mt-4 border-bottom pb-2 mb-3">
      <h1 class="h2">Usuários</h1>
      <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group mr-2" role="group" aria-label="First group">
          <a type="button" class="btn btn-success" href="/users/new">Novo</a>
          
        </div>
      </div>
  </div>

  <section class="row">
 
    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Nome</th>
            <th scope="col">Ações</th>
          </tr>
        </thead>
        <% users.forEach(user => { %>
          
        <tbody>  
            <tr>
              <th scope="row"><%= user.id %> </th>
              <td><%= user.login %></td>
              <td>
                <a href="/users/delete/<%= user.id %>" class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i> Excluir</a>
                <a href="/users/edit/<%= user.id %>" class="btn btn-warning">Editar</a>
              </td>
            </tr>          
          </tbody>
        <% }) %>
<%- include("../layouts/sidebar")  %>
<%- include("../layouts/footer")  %> 