<%- include('../layouts/header')  %>
<%- include('../layouts/menu') %>
<%- include('../layouts/sidebar') %> 
<main role="main" class="col-10 ml-auto px-4">
    <div class="d-flex justify-content-between align-items-center mt-4 border-bottom pb-2 mb-3">
      <h1 class="h2">Bairros</h1>
      <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
        
        <div class="btn-group mr-2" role="group" aria-label="First group">
          <a type="button" class="btn btn-primary" href="/bairros">Voltar</a>
          
        </div>
      </div>
  </div>

  <section class="row">
 
    <div class="col-12"> 
      <div class="card">
        <div class="card-header">Editar</div>
        <br>
        <form class="col-6" method="POST" action="/bairros/atualizar/<%= bairro.id%>">
          <div class="form-group">
            <label for="descricao">Descrição:</label>
            <input type="text" class="form-control" id="descricao" name="descricao" value="<%= bairro.descricao %>" aria-describedby="emailHelp" placeholder="Ex: Centro, Santa Rita, Pacoval">
          </div>
            <button type="submit" class="btn btn-primary">Salvar</button>
        </form>
        <br>
      </div>
    </div>
</section>
</main>
<%- include('../layouts/footer') %>