<%- include('../layouts/header')  %>
<%- include('../layouts/menu') %>
<%- include('../layouts/sidebar') %> 
<main role="main" class="col-10 ml-auto px-4">
    <div class="d-flex justify-content-between align-items-center mt-4 border-bottom pb-2 mb-3">
      <h1 class="h2">Bairros</h1>
      <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group mr-2" role="group" aria-label="First group">
          <a type="button" class="btn btn-success" href="/bairros/new">Novo</a>
          
        </div>
      </div>
  </div>

  <section class="row">
 
    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Descrição</th>
            <th scope="col">Ações</th>
          </tr>
        </thead>

       <% bairros.forEach(bairro => { %>
        
        <tbody>
            <tr>
                <th scope="row"><%= bairro.id %> </th>
                
                <td><%= bairro.descricao %> </td>
                <td>
                    <a href="#" class="btn btn-warning">Editar</a>
                    <a href="#" class="btn btn-danger">Excluir</a>
                </td>
            </tr>          
            
        </tbody>
        <% }) %>
        
      </table>
    </section>  
</main>
<%- include('../layouts/footer') %>